<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Name</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Hello {{fullname}}</h1>
                <ul class="text-left">
                    <li>First Name: {{first}}</li>
                    <li>Last Name: {{last}}</li>
                </ul>
                <hr />
            </div>
        </div>
        <small>Middle names not allowed in the Full Name section</small>
        <div class="row">
            <div class="col-md-12">
                <label>Full Name:</label>
                <input type="text" class="form-control" v-model="fullname" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control" v-model="first" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" v-model="last" />
                </div>
            </div>
            <!--
            <div class="col-md-6">
                <div class="form-group">
                    <label>Count: {{ count }}</label>
                </div>
            </div>  --> 

        </div>
    </div>
</body>

<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            first: '',
            last: '',
            count: 0, //the count variable is used for debugging
        },
        computed: {
            fullname: {
                // getter function gets the value of fullname
                get: function () {
                    var result = this.first;
                    if (this.last != '') { //we need this conditional since it would add a space to the first name, screwing things up
                        result += ' ' + this.last;
                        this.count = 2;
                    }
                    
                    if (this.first == '' && this.last == '') {
                        this.count = 0
                    }
                    else {
                        count = 1
                    }
                    return result;
                },

                // setter function sets the values of first and last
                //the user can input the full name into the Full Name input box
                //that input is 'value' here
                set: function (value) {
                    var name = value.split(' ');
                    //how the split function works:
                    //it splits a string (in this case a full name) by the ' '
                    //so inputting John Smith would result in name[0] = John and name[1] = Smith
                    this.first = name[0];

                    //we need this part since say value = "Brian "
                    ///from the split function, name[0] = Brian and name[1] = ''
                    if (name[1] == '') {
                        this.last = '';
                    }
                    
                    if (name.length > 1 && name[name.length - 1] != '')
                        //if some person just put their first name down, name.length would be set to 1,
                        this.last = name[name.length - 1];

                    //that would cause the index to be 1-1 = 0,
                    //or setting last name to name[0], which is the first name
                } 
            },
        }
    })
</script>
</html>
